rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reservations - customer bisa read semua, admin bisa read/write semua
    match /reservations/{doc=**} {
      allow read: if true; // PUBLIC - customer bisa lihat pesanan
      allow write: if request.auth != null; // Hanya admin bisa update/delete
      allow create: if true; // Customer bisa buat pesanan baru
    }
    
    match /products/{doc=**} {
      allow read: if true; // PUBLIC - customer bisa lihat menu di /list
      allow write: if request.auth != null; // Hanya admin bisa edit menu
    }
  }
}